/* ADD YOUR STYLES HERE */
.img-space {
    padding: 20px;
}
.alignbaby {
    display: inline-block;
     vertical-align: top;
     padding: 20px; 
}
#x14 {
    padding-left:300px;
    padding-top: 20px;

}
#x15 {
    display: inline-block;
    margin: -3px;
}
